<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQD5WaFA_WgZDNuJkGlgAbT6wMHc68axWiLOLcIUs2WZW6ixyqkLfg3pELCpIK-tLQ5-cZTwj102KFr/pubhtml">Googlesheet</a>
</li>
